body{
    color: #227cc1;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
nav a:hover{
    border-bottom: 1px solid #FFFFFF;
    color: #FAFAFA;
}

.banner-opn{
    background-image:url(bn-opn.png) ;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-tr{
    background-image:url(bn-tr.png) ;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-ef{
    background-image:url(bn-ef.png) ;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-fa{
    background-image:url(bn-fa.png) ;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-adp{
    background-image:url(bn-adp.png) ;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bt-descarga{
    background-color: #227cc1;
    color: #FFFFFF;
    border-radius: 45px;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #92c2dd;
    color: #297dc0;
    font-weight: 700;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #92c2dd;
    font-weight: 700;
}
.tab-content{
    padding: 20px;
    text-align: justify;
    color: #297dc0;
}

.alert-info{
    background-color: #c6e2f4 !important;
    border-radius: 30px;
 
}

/* ---------------- ACORDION PERSONALIZADO COLORES ------------------ */

button.acordeon {
    background-color: #92c2dd;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 18px;
    transition: 1s;
    font-weight: 700;
    padding: 20px 0;
    position: relative;

}

button.acordeon:after {
    font-family: FontAwesome;
    content: '\002B';
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordeon.active:after {
    font-family: FontAwesome;
    content: "\2212";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    width: 100%;
    color:  #128ec5;;
}

.panel-child{
    padding: 10px;
}


@media (max-width: 768px) {
    .banner-mn{
        background-position: left;
        height: 150px;
    }
    .banner-opn{
        background-position: left;
        height: 150px;
    }
    .banner-tr{
        background-position: left;
        height: 150px;
    }
    .banner-ef{
        background-position: left;
        height: 150px;
    }
    .banner-fa{
        background-position: left;
        height: 150px;
    }
    .banner-adp{
        background-position: left;
        height: 150px;
    }
    .acordeon p {
        font-size: 0.5rem;
        padding-left: 15px;
        padding-right: 10px;
    }
   
}