body{
    color: #227cc1;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
nav a:hover{
    border-bottom: 1px solid #FFFFFF;
    color: #FAFAFA;
}
.banner-mn{
    background-image:url(bn-mn.png) ;
    background-position: center;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-op{
    background-image:url(bn-op.png) ;
    background-position: center;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-col{
    background-image:url(bn-col.png) ;
    background-position: center;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-pf{
    background-image:url(bn-pf.png) ;
    background-position: center;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bt-descarga{
    background-color: #227cc1;
    color: #FFFFFF;
    border-radius: 45px;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #92c2dd;
    color: #297dc0;
    font-weight: 700;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #92c2dd;
    font-weight: 700;
}
.tab-content{
    padding: 20px;
    text-align: justify;
    color: #297dc0;
}


/* ---------------- ACORDION PERSONALIZADO COLORES ------------------ */

button.acordeon {
    background-color: #92c2dd;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 18px;
    transition: 1s;
    font-weight: 700;
    padding: 20px 0;
    position: relative;
    margin: 5px;
}

button.acordeon:after {
    font-family: FontAwesome;
    content: '\002B';
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordeon.active:after {
    font-family: FontAwesome;
    content: "\2212";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    width: 100%;
    color:  #128ec5;;
}

.panel-child{
    padding: 10px;
}


@media (max-width: 768px) {
    .banner-mn{
        background-position: left;
        height: 150px;
    }
    .banner-op{
        background-position: left;
        height: 150px;
    }
    .banner-col{
        background-position: left;
        height: 150px;
    }
    .banner-pf{
        background-position: left;
        height: 150px;
    }
    .acordeon p {
        font-size: 0.5rem;
        padding-left: 15px;
        padding-right: 10px;
    }
   
}