@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #297dc0;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
nav a:hover{
    border-bottom: 1px solid #FFFFFF;
    color: #FAFAFA;
}
header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.logo-gob{
    margin-top: -15px;
}
.bg-nav{
    background-color: #297dc0;
}
.bg-nav a{
    color: #FFFFFF !important;
    font-size: 18px;
}
.bg-nav a:hover{
    color: #EAEAEA !important;
}
.item{
    border-right: 1px solid white;
    padding: 0 6px 0 6px ;
    height: 70%;
}
.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    color: black;
}
.dropdown-menu{
    background-color: #297dc0;
    color: #FFFFFF;
}
.banner{
    background-image: url('header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
}
.intro{
    background-image: url('bg-cuadro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro p{
    color: #297dc0; 
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
a img:hover{
    opacity: 0.8;
}
/* ----------------------- ACCORDEON ----------------------- */
button.acordion {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 1s;
    font-weight: 700;
    height: 300px;
    padding: 10px;
    font-size: 14px;
    border-radius: 35px;
}
button.acordion.active, button.acordion:hover {
    background-color: #f1f1f1;
}
button.acordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 0px;
    padding: 0px 14px;
   margin-top: -30px;
}
button.acordion.active:after {
    content: "\2212";
    
}
.acordion h6{
    font-weight: 700;
    font-size: 14px;
}
div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
}

.btn-conoce{
    background-color: #54cd96;
    color: #FFFFFF;
    border-radius: 45px;
}
.btn-ver{
    background-color: #8264a7;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 5px 30px;
}
.contenedor{
    max-width: 1600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.notas{
    background-image: url('bg-cuadro-vl.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.destacados{
    background-color:#de6d9f52;
    padding-top: 30px;
}

footer{
    background-color:#008dcd;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
footer a{
    text-decoration: none;
    color: inherit;
}

/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    .banner{
        height: auto;
    }
    .img-card {
        width:90px;
        margin-left: 60%;
    }
    .intro{
        background-size: 200% ;
        background-repeat: repeat-y;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 15px ;
    }
    .notas{
        background-size: 200% ;
        background-repeat: repeat-y;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 15px ;
    }
    button.acordion {
    height: auto;
    font-size: 10px;
    border-radius: 15px;
    }
    
    button.acordion:after {
        margin-left: 15px;
        margin-right: -7px;
        margin-top: -58px;
        padding: 0px 8px;
    }
    .destacados .tit-dest{
    width: 200px;
    }

    footer{
        font-size: 12px;
    }
    .footer-links, .footer-newsletter{
        margin-top:15px;
    }
    .footer-links ul{
        padding: 5px;
    }
    .footer-links h4, .footer-newsletter h4, .footer-links h4{
        font-size: 18px;
    }
    
    .contenedor .logo{
        width: 100px;
        margin-top: 20px;
    }
}